/* Common */
* {
  box-sizing: border-box;
}

body {
  font-family: "Alfa Slab One", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  padding: 20px 0;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(234, 225, 225);
}

.container h1 {
  margin-top: 30px;
  font-size: 64px;
  font-weight: 900;
  color: #3a2517;
}

.container span {
  font-family: "Bebas Neue", serif;
  font-size: 30px;
  font-weight: 500;
  color: #3a2517;
}

.form-table {
  margin-top: 30px;
}

.row {
  display: flex;
}

.row .error,
.error-time {
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 300;
  color: red;
  visibility: hidden;
}

label:has(:invalid:not(:placeholder-shown)) .error {
  visibility: visible;
}

label:has(:focus:not(:valid)) .error-time {
  visibility: visible;
}

.form-table input,
.btn-action {
  margin: 10px 20px;
  padding: 0 20px;
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  border: 2px solid #a8a5a5;
}

.form-table input::placeholder {
  color: #000;
  font-family: "Bebas Neue", serif;
  font-size: 20px;
}

input:focus::placeholder {
  visibility: hidden;
}

.btn-action {
  border: none;
  border-radius: 5px;
  font-family: "Alfa Slab One", serif;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(176 50 43);
  color: #fff;
}

.btn-action:hover {
  opacity: 0.8;
}

input[type="date"],
input[type="time"] {
  position: relative;
}

input[type="date"]::before,
input[type="time"]::before {
  position: absolute;
  left: -2px;
  content: "";
  color: #000;
  width: 100%;
  height: 100%;
  border: 2px solid #a8a5a5;
  background-color: #fff;
}

input[type="date"]::after {
  position: absolute;
  content: "DATE";
  color: #000;
  font-family: "Bebas Neue", serif;
  font-size: 20px;
}

input[type="time"]::after {
  position: absolute;
  content: "TIME";
  color: #000;
  font-family: "Bebas Neue", serif;
  font-size: 20px;
}

input[type="date"]:focus::before,
input[type="date"]:focus::after,
input[type="time"]:focus::before,
input[type="time"]:focus::after {
  display: none;
}

input[type="date"]:valid::before,
input[type="date"]:valid::after,
input[type="time"]:valid::after,
input[type="time"]:valid::before {
  display: none;
}
